body {
    background-color: #0b0be3c9;
    text-align: center;
    font-family: 'Yellowtail', cursive;
}

.top-container {
    display: flex;
    justify-content: center;
}

#beginningPopup {
    border: 3px solid black;
    background-color: #a7b5e7;
    width: 400px;
    display: flex;
    flex-direction: column;
    position:absolute;
}

input, button {
    margin: 50px;
}

h1 {
    color:#c73c1c;
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    color:#c73c1c;
    font-size: 2.5rem;
}

#playArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameArea {
    background-color: #e7e8ef;
    font-family: 'Syne Tactile', cursive;
    width: 312px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 50px #a7b5e7;
}



.space {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    color: #1ba71b;
    font-size: 90px;
    text-align: center;
}

#newGame {
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: 'Yellowtail', cursive;
    color: blue;
    background-color: #e2ef1e;
}

#newGame:hover {
    background-color: yellow;
}