body {
    background-color: #0b0be3c9;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h1 {
    color:#c73c1c;
    font-size: 3rem;
}

#playArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameArea {
    background-color: #e7e8ef;
    width: 312px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 50px #a7b5e7;
}



.space {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    color: green;
    font-size: 90px;
    text-align: center;
}

#newGame {
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: 'Dancing Script';
    color: blue;
    background-color: #e2ef1e;
}

#newGame:hover {
    background-color: yellow;
}